.docs {
  background-color: #003744;
  display: grid;
  // row-gap: 40px;
  line-height: 1.5;

  //   p {
  //     margin: 1rem 0;
  //   }

  ul,
  ol {
    padding-left: 2rem;

    li {
      list-style: disc;
      margin-bottom: 0.5rem;
    }
  }

  ol li {
    list-style: decimal;
  }

  // section,
  // section.docs {
  //   padding: 40px 0;
  // }

  // section + section {
  //   border-top: 1px solid #dae5e9;
  // }

  small {
    font-size: 1rem;
    color: rgb(172, 172, 172);
  }

  .title-1:first-child,
  .title-2:first-child {
    margin-top: 0 !important;
  }
}
