.benefit {
  position: relative;
  // border-bottom: 1px solid #000;
  padding-bottom: 62px;
  z-index: 0;
  // overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;

    background-color: black;
  }

  &__title {
    color: #fff;
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    margin-bottom: 35px;
  }

  &__box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @include tablet {
      max-width: 1161px;
      margin: 0 auto;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      row-gap: 21px;
      gap: 17px;
    }
  }

  &__box {
    display: flex;
    width: 297px;
    height: 342px;
    padding: 32px 42.162px 36px 43px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    flex-shrink: 0;

    border-radius: 30px;
    border: 1px solid #008080;
    background: #fff;
    z-index: 1;
  }
  &__box-text {
    color: #003744;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__title2 {
    color: #fff;
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 60px;

    @include tablet {
      font-size: 35px;
    }
  }
  &__text {
    color: #f7f7f7;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;

    @include tablet {
      font-size: 20px;
      width: 542px;
      margin: 0 auto;
      margin-bottom: 38px;
    }
  }
  &__text2 {
    position: relative;
    color: #f7f7f7;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include tablet {
      font-size: 18px;
      width: 505px;
      margin: 0 auto;
    }
  }

  &__radius {
    position: relative;
    width: 100%;
    height: 325px;

    position: absolute;
    bottom: -73px;
    left: 0;
    z-index: -1;
  }

  &__gradient {
    position: absolute;
    bottom: 68px;
    left: -285px;
    width: 398px;
    height: 398px;
    flex-shrink: 0;

    border-radius: 398px;
    background: linear-gradient(146deg, #00c2c2 10.79%, #00404f 133.48%), #00c2c2;
    filter: blur(150px);
    z-index: -1;
  }
  &__img-wrapper {
    width: 59.58px;
    height: 59.58px;
    border-radius: 50%;
    border: 1px solid #d6e0e2;

    flex-shrink: 0;
  }

  &__img {
    position: absolute;
    bottom: -73px;
    left: 0;
  }

  // &__decor-img--box {
  //   position: absolute;
  // }
}
.svg__wrapper {
  position: absolute;
}
.benefit__decor-img {
  position: absolute;
}
.svg__wrapper--1 {
  bottom: 311px;
  left: 65px;
  z-index: 10;

  @include tablet {
    width: 163px;
    height: 163px;

    bottom: -37px;
    left: 61px;
  }
}
.svg__wrapper--2 {
  bottom: 186px;
  right: 29px;
  z-index: 10;

  @include tablet {
    width: 85px;
    height: 85px;

    bottom: 217px;
    right: 144px;
  }
}
.svg__wrapper--3 {
  bottom: -30px;
  left: 111px;
  z-index: 10;

  @include tablet {
    width: 100px;
    height: 100px;
    bottom: 160px;
    left: 123px;
  }
}
.svg__wrapper--4 {
  bottom: -19px;
  right: 40px;
  z-index: 10;

  @include tablet {
    width: 155px;
    height: 155px;

    bottom: 10px;
    right: 140px;
  }
}

.img--1 {
  width: 50px;
  height: 50px;

  bottom: 316px;
  left: 70px;
  z-index: 10;

  @include tablet {
    width: 145px;
    height: 145px;

    bottom: -28px;
  }
}

.img--2 {
  width: 40px;
  height: 40px;
  bottom: 192px;
  right: 35px;
  z-index: 10;

  @include tablet {
    width: 73px;
    height: 73px;

    bottom: 223px;
    right: 150px;
  }
}
.img--3 {
  width: 47px;
  height: 47px;
  bottom: -26px;
  left: 115px;
  z-index: 10;

  @include tablet {
    width: 86px;
    height: 86px;
    bottom: 167px;
    left: 130px;
  }
}
.img--4 {
  width: 57px;
  height: 57px;
  bottom: -12px;
  right: 48px;
  z-index: 10;

  @include tablet {
    width: 135px;
    height: 135px;

    bottom: 20px;
    right: 150px;
  }
}
