.icons-wrapper {
  padding: 30px 0;
  display: flex;
  column-gap: 30px;
}

.icon {
  fill: transparent;
  stroke: transparent;
  width: 62px;
  height: 62px;
}
.icon--check-box {
  width: 32px;
  height: 32px;

  fill: #003744;
  stroke: rgba(255, 255, 255, 1);
}

.icon--benefit-icon-1 {
  width: 211px;
  height: 202px;
}

.icon--hands-icon {
  stroke: rgba(255, 255, 255, 1);
  fill: #003744;
  position: absolute;
  top: 284px;
  right: 15px;
}

.icon--search-icon {
  stroke: rgba(255, 255, 255);
  fill: #003744;
  width: 41px;
  height: 41px;
  position: absolute;
  top: 390px;
  right: 62px;
}
z .icon--heart-line {
  fill: rgb(241, 68, 131);
}

.icon--id-card-line {
  fill: rgb(51, 51, 51);
}
.icon--search-line {
  fill: rgb(28, 176, 80);
}

.icon--user-star {
  fill: rgb(26, 134, 235);
}

.icon--user {
  stroke: rgb(26, 134, 235);
  transition: all 0.2s ease-in;

  &:hover {
    stroke: rgb(17, 193, 90);
  }
}
