.program {
  background: #f4f6f6;
  padding-top: 28px;
  padding-bottom: 35px;

  @include tablet {
    padding-bottom: 47px;
  }

  &__title {
    color: #003744;
    font-family: 'Montserrat Alternates';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 46px;

    @include tablet {
      font-size: 60px;
      text-align: center;
    }
  }

  &__box-wrwpper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  &__box {
    width: 363px;
    position: relative;
    display: flex;
    padding: 23px 20px 23px 28px;
    flex-direction: column;

    gap: 10px;
    border-radius: 30px;
    background: #008080;

    @include tablet {
      width: 880px;
    }
  }
  &__box-text {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__box-title {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 135% */
  }
  &__number {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    color: #008080;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 112.5% */
  }
}
